.btn {
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;


  &__color {
    background: $gradient;
    color: $color-white;
    display: inline-block;
    font-size: 1.6rem;
    border: none;
  }

  &__hello {
    position: relative;
    width: 100%;
    border: none;
    height: 5rem;
    border-radius: 4rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
    padding-left: 3rem;
    text-align: left;
    cursor: pointer;

    &-hand {
      position: absolute;
      display: inline-block;
      right: 2.7rem;
      width: 2rem;
      height: 2rem;
      background-image: url(../img/icons/hand.png);
    }
  }

  &__left,
  &__right {
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: transparent;
    cursor: pointer;
    top: 26rem;

    &::after {
      position: absolute;
      content: "";
      width: 3rem;
      height: 3rem;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__left {
    left: 0;

    &::after {
      background-image: url(../img/icons/arr-left.svg);
    }
  }

  &__right {
    right: 0;

    &::after {
      background-image: url(../img/icons/arr-right.svg);
    }
  }
}
