.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($color-bg, 0.85);
  backdrop-filter: blur(4px);
  z-index: 5;

  &__inner  {
    max-width: 68rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $color-bg;
    border-radius: 5rem;
    padding: 5rem;
    color: $color-white;
  }

  &__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 2rem;
    color: $color-text;
  }

  &__form  {
    max-width: 38rem;
    margin: 0 auto;
  }
}
