//COLORS
$color-primary: #42204E;
$color-primary-dark: #230E2B;

$color-bg: #1B0522;
$color-bg-light: #2D1436;

$color-grey-light: #eee;
$color-orange: #ff6a00;
$color-green: #33E159;
$color-white: #fff;
$color-pink: #ee0979;
$color-light-blue: #0575E6;
$color-blue: #021B79;

$color-text: #8B5D9A;

$color-btn-shadow: rgba(179, 34, 31, 0.2);

// FONTS
$font-primary: 'Rubik', sans-serif;

// SHADOWS
$btn-shadow: 0px 20px 30px $color-btn-shadow;

// GRADIENT
$gradient: linear-gradient(90deg, $color-pink 0%, $color-orange 100%);
$gradient-blue: linear-gradient(90deg, $color-light-blue 0%, $color-blue 100%);
