.page-home {
  position: relative;
  overflow: hidden;
  padding-top: 0;

  & > .element-blur {
    width: 139.5rem;
    height: 139.5rem;
    left: 83rem;
    top: 44rem;
  }

  &__users {
    &-title {
      margin-bottom: 2rem;
      font-size: 2.8rem;
      line-height: 4.2rem;
      font-weight: 500;
    }

    &-top,
    &-women,
    &-men {
      display: flex;
      margin-bottom: 5rem;
    }
  }
}
