.page-login {
  &__wrapper {
    &::before {
      height: 98.2rem;
      background-image: url(../img/colors/login-before.png);
    }

    &::after {
      background-image: url(../img/colors/login-after.png);
      height: 69.5rem;
    }
  }

  &__form {
    &-box {
      max-width: 84.6rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
    }

    &-inner {
      max-width: 38rem;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 3rem;
  }

  &__forgot {
    display: inline-block;
    color: $color-text;

    &:hover {
      color: darken($color-text, 10);
      transition: all .2s;
    }
  }
}
