.page-payments {

  .element-blur {
    top: 60rem;
    right: -20rem;
    z-index: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 2rem;
  }

  &__box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 38rem;
    width: 100%;
    border-radius: 5rem;
    padding: 5rem;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    position: relative;
    background-color: $color-bg;

    &:hover,
    &.active {
      opacity: 1;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        padding: 1px;
        background: $gradient;
        -webkit-mask: linear-gradient($color-white 0 0) content-box, linear-gradient($color-white 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }

    &:hover .page-payments__item-button {
      background: $gradient;
    }

    &-img {
      display: block;
      margin-bottom: 2rem;
    }

    &-how-long {
      margin-bottom: 5px;
    }

    &-price {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.7rem;
      margin-bottom: 2rem;
    }

    &-button {
      font-size: 1.4rem;
      line-height: 2.1rem;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
      border-radius: 50rem;
      background-color: $color-primary;
      color: $color-white;
      border: none;
    }
  }
}
