html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // font-size = 10px / 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: relative;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

// Footer on bottom
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-primary-dark;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}


.card__name.online .indicator,
.page-user__name.online .indicator,
.chat__user-name.online .indicator,
.chat__message-user-name.online .indicator {
  width: 1rem;
  height: 1rem;
  background-color: $color-green;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
