.top-bar {
  padding: 3rem 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.5rem;

  &__logo {
    z-index: 1;
  }

  &__first {
    margin-right: 2rem;
  }

  &__btn {
    padding: 1.1rem 3.6rem;
  }
}
