.btn {
  border: none;
  border-radius: 500px;
  cursor: pointer;
  transition: all .3s;

  &__transparent {
    position: relative;
    background-color: $color-bg;
    color: #fff;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }

  &__color {
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }

  &__hello {
    position: relative;
    width: 100%;
    border: none;
    height: 5rem;
    border-radius: 4rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
    padding-left: 3rem;
    text-align: left;
    cursor: pointer;

    &-hand {
      position: absolute;
      display: inline-block;
      right: 2.7rem;
      width: 2rem;
      height: 2rem;
      background-image: url(../img/icons/hand.png);
    }
  }
}

.btn__transparent:hover {
  opacity: .7;
}

.btn__transparent:active {
  opacity: 1;
}
