.card {
  width: 22rem;
  min-height: 35rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.73%, rgba(0, 0, 0, 0.2) 67.67%, rgba(0, 0, 0, 0.2) 83.76%),
    #c4c4c4;
  border-radius: 30px;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-bottom: 5rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__name {
    padding: 0 2rem;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
  }

  &__country {
    padding: 0 2rem 0 5.3rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    position: relative;
    margin-bottom: 2rem;

    &-flag {
      position: absolute;
      left: 2rem;
      top: 0;
      width: 2.4rem;
      height: 1.6rem;
      display: inline-block;
      background-image: url(../img/icons/flag-rus.svg);
      background-size: cover;
    }
  }

  &__button {
    position: absolute;
  }
}
