.page-login {
  &__wrapper {
    &::before {
      height: 98.2rem;
      background-image: url(../img/colors/login-before.png);
    }

    &::after {
      background-image: url(../img/colors/login-after.png);
      height: 69.5rem;
    }
  }

  &__form {
    &-box {
      max-width: 84.6rem;
    }
  }

  &__title {
    font-size: 6rem;
    line-height: 9rem;
  }

  &__forgot {
    display: block;
    color: $color-text;

    &:hover {
      color: $color-primary;
      transition: all .2s;
    }
  }
}
