//COLORS
$color-primary: #42204E;
$color-primary-dark: #230E2B;
$color-bg: #1B0522;
$color-bg-light: #2D1436;
$color-grey-light: #eee;
$color-text: #8B5D9A;
$color-orange: #FE6703;
$color-green: #33E159;

// FONTS
$font-primary: 'Rubik', sans-serif;
